@model ARS.Models.FlightBooking

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<h1>Details</h1>

<div>
    <h4>FlightBooking</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CusName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CusName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CusAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CusAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CusEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CusEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CusSeat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CusSeat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CusPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CusPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CusCnic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CusCnic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bCusName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bCusName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Planeid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Planeid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeatType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeatType)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.bid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
